* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1000;
}

#root {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1000;
}